
<div class="ce ce-{{block.type}} c0 {{block | extract_classes('','') }}">
    <div class="col {{block | extract_classes('cl','') }}">{{ include('includes/blocklist.html.twig',{blocks: block.leftcol}) }}</div>
    <div class="col {{block | extract_classes('cr','') }}">{{ include('includes/blocklist.html.twig',{blocks: block.rightcol}) }}</div>
</div>
