   <header  class="mb-16 min-h-[8rem]">
       <div  class="fixed z-20 w-full ">
           <div class="preset_logo">
           
               <a href="{{sulu_content_path("/")}}" class=" cl">
                   <img src="{{find_icon("reference_sulu_logo.svg")}}" title="reference_sulu" class="svg-icon ci">
               </a>
           </div>
           
           <ul class="preset_topmenu">
           
               {% for item in sulu_navigation_root_tree('main', 1) %}
            <a href="{{ sulu_content_path(item.url) }}?{{date().timestamp}}"  class=" {{item.id==uuid?'opacity-70'}} cl"
                title="{{ item.title }}">{{ item.title }}</a>
               {% endfor %}
            </ul>
       </div>
       
   </header>
