<nav class="subnav c1 stripe-bg stripe-bg-{{stripes.current_stripe_num}} {{classes | default('')}}" id="main">
<div class="c0">
    {% for item in stripes.subnav %}

    {# {% set is_active_class = "" %} #}
    {% if stripes.current_subnav_page and stripes.current_subnav_page.id == item.id %}
        {% set is_active_class='active' %} 
    {% else %}
        {% set is_active_class='inactive' %} 
    {% endif %}
    
        <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}#main" class="{{is_active_class}} {{loop.last ? 'last-tab'}} {{loop.first ? '' : 'tab'}}" title="{{item.title}}">
            <span>{{ item.title }}</span>
        </a>
    {% endfor %}
    <div class="tab-line-shoulder"></div>
    <div class="tab-line"></div>
</div>
</nav>

