<!DOCTYPE html>
{% set lang=app.request.locale|split('_')[0] %}
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     {{ render_esi(controller('App\\Controller\\Website\\CustomController::assetsAction', {})) }}

    <script defer type="text/javascript" src="/fe_assets/app.js?20220609014916"></script>
    {# <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" /> #}

    {% block meta %}
      {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>

<body id="body" class="text-base {{ content.style_presets |default([])|map(p => "preset_#{p.id} ")|join(' ') }} ">

  {{ include('includes/header.html.twig') }}

    <main  class="main-content min-h-[90vh]">
 
        {% block content %}{% endblock %}
    </main>

<footer  class="preset_footer">
        {% set library_page = find_page("/cmf/mainsite/contents/library/footer") %}

        {% if library_page %}
        {% set lib = sulu_content_load(library_page.uuid,{'blocks': 'blocks'}) %}
        {{ include('includes/blocklist.html.twig', {'blocks': lib.content.blocks  }) }} 
            
        {% endif %}
</footer>

    {% block javascripts %}{% endblock %}
</body>

</html>
